 /* Background pattern from Toptal Subtle Patterns */
body {
    display: flex;
    background: url("../images/prism.png");
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    box-sizing: border-box;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 50px 0 50px;
    padding: 0px;
    background: #fff;
    box-shadow: 0px 0px 8px 5px #222222;
}
.header {
    position: relative;
    height: 400px;
    background: radial-gradient(circle at center, #2dd2d8 , #008f99, #006999);
    text-align: center;
}


.logo {
    position: relative;
    top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    transform: scale(1, 1.2);
    color: white;
    line-height: 0em;
    text-shadow: 0px 2px 3px #242424, 0px 0px 40px rgb(203, 245, 255);
}

.first {
    font-size: 1.5em;
}

.first::first-letter {
    font-size: 1.5em;
}
.last::first-letter {
    font-size: 1.2em;
}

.last {
    position: relative;
    top: -0.5em;
    margin-left: 1.2em;
}

.navbar {
    width: 100%;
    color: white;
    text-shadow: 1px 2px 2px #242424;
    height: 45px;
    background: #333438;
    border-bottom: 4px solid #009bf6;
    font-size: 1.2em;
    position: absolute;
    bottom: 0px;
    line-height: 0;
}

.navbar-nav {
    list-style-type: none;
}

.nav-item {
    display: inline;
    margin-right: 1.2em;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
}

.nav-item a:hover {
    color: #009bf6;
}
.nav-item a:visited {
    color: #4eb3ee;
}

.icon {
    height:30px;
    width: 30px;
    fill: #fff;
}

.icon:hover {
    fill: #009bf6;
}

.icon:visited {
    color: #4eb3ee;
}

.content-wrapper {
    display: flex;
    padding: 0 15px 0 15px;
    flex-grow: 1;
    margin-left: 2em;
}
.content {
    padding: 25px;
}

.sidebar {
    min-width: 250px;
    order: 99;
    margin: 15px 0 10px 10px;
    background: #efefef;
    padding: 20px;
    flex-grow: 1;
}

.page-footer {
    text-align: center;
    padding: 10px;
    height: 30px;
    background-color: #28292c;
    color: rgb(187, 187, 187);
    text-shadow: 1px 2px 2px #242424;
}

.page-footer span {
    margin-right: 1em;

}
.page-footer a {
    color: white;
}

section {
    display: flex;
    flex-direction: row;
    margin: 2em 0 2em 0;
}

.content-wrapper h2 {
    font-size: 2em;
    font-weight: normal;
}

.content-wrapper h3 {
    font-weight: normal;
    font-size: 1.5em;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-right: 20px;
    box-shadow: -10px 10px 10px 0 #666;
}

