@font-face {
    font-family: 'Black Chancery';
    src: url('fonts/BLKCHCRY.TTF') format('TrueType'); /* firefox blocks this if just using file://, works when served with a webserver. works just fine in chrome*/
}

 /* Background pattern from Toptal Subtle Patterns */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(107, 89, 89);
    background-image: url("../images/ricepaper.png");
    padding: 0 10% 0 10%;
}

p {
    font-size: 1.2em;
    line-height: 1.7em;
    text-indent: 2em;
    margin-bottom: 1.7em;
}

a {
    text-decoration: none;
    color: rgb(179, 53, 53);
}

a:visited {
    color: rgb(143, 85, 85);
}

a:hover {
    color: rgb(250, 139, 139);
}

h1 {
    display: block;
    margin:auto;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-align: center;
    max-width: 80%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 2em;
}

img {
    display: block;
    margin: auto;
    max-width: 600px;
}

figcaption {
    font-size: 0.7em;
    text-align: center;
}

h3::first-letter {
    font-size: 1.4em;
}

.book-content h3 {
    font-size: 2.6em;
    text-transform: uppercase;
    margin-bottom: 4em;
    padding-top: 1em;
    text-align: right;

}

.table-of-contents {
    margin: auto;
}

.chapter {
    margin-top: 2em;
    padding-bottom: 3em;
    border-top: 3px dotted rgb(214, 182, 182);
}

.chapter>p:first-of-type::first-letter {
    font-family: 'Black Chancery';
    font-size: 2.4em;
}

.chapter > h3 {
    text-align: right;
    font-size: 2.5em;
    margin-bottom: 4em;
}

.chapter > h3::first-letter {
    font-size: 1.5em;
}

nav {
    width: 500px;
    padding: 2em;
    margin: auto;
    display: block;
    background: rgba(226, 187, 161, 0.527);
}

nav > h2 {
    font-size: 2em;
}

nav ul {
    list-style: none;
}

nav ol {
    list-style-type: upper-roman;
}

.right {
    text-align: right;
}