@font-face {
    font-family: 'Black Chancery';
    src: url('fonts/BLKCHCRY.TTF') format('TrueType'); /* firefox blocks this if just using file://, works when served with a webserver. */
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(107, 89, 89);
    background-color: rgb(248, 241, 238);
}

pre {
    margin-left: 270px;
    padding: 0 15% 0 15%;
}

p {
    font-size: 1.2em;
    line-height: 1.7em;
    text-indent: 2em;
    margin-bottom: 1.7em;
}

h1 {
    font-size: 2em;
    letter-spacing: 0.1em;
    text-align: center;
}

img {
    max-width: 500px;
    margin: auto;
}

h2::first-letter {
    font-size: 1.4em;
}

.book-content {
    padding: 0 15% 0 15%;
    margin-left: 270px;
}

.book-content h2 {
    font-size: 2.6em;
    text-transform: uppercase;
    margin-bottom: 4em;
    padding-top: 1em;
    text-align: right;
    
}

.table-of-contents {
    margin: auto;
}

.chapter {
    padding-bottom: 3em;
    border-top: 3px dotted rgb(214, 182, 182);
}

.chapter>p:first-of-type::first-letter {
    font-family: 'Black Chancery';
    font-size: 2.4em;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #9e3543;
    overflow: auto;
    padding: 10px;
}

.sidebar h2 {
    color: white;
    text-align: center;
    display: block;
}