 /* Background pattern from Toptal Subtle Patterns */
 body {
    display: flex;

    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    font-size: 1.1em;
    box-sizing: border-box;
    background: url("../images/glitter.png");
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0px;
    background: rgba(255, 255, 255, 0.445);
}
.header {
    position: relative;
    height: 400px;
    background: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    border-bottom: 5px solid blue;
}

.logo {
    font-size: 4em;

    /*  Rainbow text from https://rainbowcoding.com/2011/12/02/how-to-create-rainbow-text-in-html-css-javascript/ */
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    top: 50px;
    -webkit-text-stroke: 3px blue;
}

.banner img {
    height: 200px;
    position: relative;
    bottom: -100px;
    left: 200px;
    border-radius: 100%;
    box-shadow: 0 0 2px 5px blue;
}

.navbar {
    display: inline-block;
    color: rgb(0, 0, 0);
    height: 45px;
    background: linear-gradient(yellow, orange);
    margin-top: 100px;
}

.navbar-nav {
    list-style-type: none;
    position: relative;
    top: -0.6em;
}

.nav-item {
    display: inline-block;
    height: 45px;
    margin-right: 1.2em;
}

.active {
    color: blue;
}


.penguin {
    width: 80%;
    max-width: 200px;
}

#red {
    display: block;
    margin: auto;
}

.content-wrapper {
    display: flex;
    padding: 0 15px 0 15px;
    flex-grow: 1;
}
.content {
    float:left;
    padding: 15px;
}

.sidebar {
    min-width: 250px;
    order: 99;
    margin: 15px 0 10px 10px;
    background: rgb(255, 187, 0);
    padding: 10px;
    flex-grow: 1;
}

.page-footer {
    padding: 10px;
    height: 30px;
    background-color: #28292c;
    box-shadow: 0 -3px 10px -3px #777;
    color: white;
    text-shadow: 1px 2px 2px #242424;
}


section {
    display: flex;
    flex-direction: row;
    margin: 2em 0 2em 0;
}

section > img{
    margin-right: 20px;
}

.content-wrapper h2 {
    font-weight: normal;
    font-size: 2em;
}

.content-wrapper h3 {
    font-weight: normal;
    font-size: 1.5em;
}


/* From https://codingislove.com/css-speech-bubbles/ */
.box {
    width: 300px;
    margin: auto 100px;
    background: fuchsia;
    padding: 20px;
    text-align: center;
    position: relative;
    border-radius: 100px 100px 150px 30px;
  }

  .sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid fuchsia;
    border-right: 10px solid transparent;
    border-top: 10px solid fuchsia;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
  }

  a {
      text-decoration: none;
  }